@model Ogrenci.Models.Entity.bolumler
@{
    ViewBag.Title = "GetBolumler";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("BolumlerGuncelle", "bolum", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(k => k.bkon)
        @Html.TextBoxFor(k => k.bkod, new { @class = "form-control" })

        @Html.LabelFor(k => k.badi)
        @Html.TextBoxFor(k => k.badi, new { @class = "form-control" })

        @Html.LabelFor(k => k.bbsk)
        @Html.TextBoxFor(k => k.bbsk, new { @class = "form-control" })

        @Html.LabelFor(k => k.bkon)
        @Html.TextBoxFor(k => k.bkon, new { @class = "form-control" })



        <div>
            <button class="btn btn-warning">Bölümü Güncelle</button>


        </div>



    </div>
}
